</body>
    <script>
    /* $(document).ready(function() {
	 $('.model-description').toggle();
     });

    function dummy_select(idx) {
	if(idx == 0) {
	    $('.model-description').hide();
	} else {
	    $('.model-description').show();
	}
    }
    */
    function updateSelectedModel(value){
        document.getElementById('selectedModel').innerHTML = value;
        switch(value){
            case 're3d model':
                document.getElementById('modelDesc').innerHTML = "This is re3d model description"
                break;
            case 'SITREP model':
                document.getElementById('modelDesc').innerHTML = "This is SITREP model description"
                break;
            case 'CASREP model':
                document.getElementById('modelDesc').innerHTML = "This is CASREP model description"
                break;
            case 'Pie':
                document.getElementById('modelDesc').innerHTML = "This is Pie model description"
                break;
            default:
                document.getElementById('modelDesc').innerHTML = ""
            
        }
    }

    

    </script>
</html>
