{% extends "header.html" %}
{% block body %}
		<!--Code-->

	    <div class="row justify-content-md-center justify-content-lg-center">
		
		<div class="col-lg-10">
		    
		    <div class="model-description pad-down">
			<h4>Re3d Model Description</h4> 
			<p>Here will be a description of the selected model. It will describe the dataset that the model is trained on and also list the different categories that is setup to extract. Maybe a click here button to show entites have already been extracted on it </p>
		    </div>

		    <div class="pad-to-center">

			<h4>Select model</h4>

			<div class="input-group">
			    <select id="model-select" class="custom-select" onChange="updateSelectedModel(this.value)">
					<option value='test1'>test1</option>
					<option value='test2'>test2</option>
					<option value='test3'>test3</option>
				<!--{% for model in models  %}
				    <option>{{ model[3] }}</option>
				{% endfor %}-->
			    </select>

			</div>

			<div class="input-group float-right grp">
			    <a href="/input.html" class="btn btn-primary float-right">Select Model</a>
			</div>


		    </div>
		</div>
	    </div>

{% endblock %}

