{% extends "header.html" %}

{% block body %}
    <div class="col-lg-8">
        <div class="pad-to-center">
            <h4>Enter raw text</h4>
            <form action="/output" method="POST">
                <div class="input-group grp">
                    <textarea rows="4" cols="80" name='input-text'></textarea>
                </div>
                <br>
                <div class="input-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block float-right" value="Extract">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
