{% extends "header.html" %}

{% block body %}
<div class="col-lg-10">
    <div class="pad-to-center">
    <h4>Extraction results</h4>
    <div class="input-group grp">
        <p class="lead">	
        <span class="badge badge-pill badge-primary">US Marines</span> stationed on high alert in the <span class="badge badge-pill badge-secondary">Persian gulf</span> were given the order to invade the small but oil rich nation. His successor <span class="badge badge-pill badge-success">Khaled Al-Asad</span> conducted the high profile execution personally on <span class="badge badge-pill badge-primary">national television</span>, accusing <span class="badge badge-pill badge-success">Al-Fulani</span> of placing foreign interests ahead of those of his countrymen. 
        </p>
    </div>
    </div>
</div>
{% endblock %}