{% extends "header.html" %}
{% block body %}
<style>
 td {
     padding-right: 15px;
 }
</style>
<div class="row">
    &nbsp;
</div>
<div class="col-lg-10">
    <div class="row">
	<div class="col-lg-9" style="float:right">
	    <h4> Extraction Results: </h4>
	    <div class="input-group grp">
		<p class="lead">
		    {{ extraction|safe }}
		</p>
	    </div>
	</div>

	<div class="col-lg-3">
	    <h4>Legend</h4>
	    <table>
		<thead>
		    <tr>
			<td>Tag name</td>
			<td>Color</td>
		    </tr>
		</thead>
		<tbody>
		    {% for tag,color in color_set %}
		    <tr>
			{% if tag == 'O' %}
			<td>
			    Other
			</td>
			{% else %}
			<td>
			    {{ tag }}
			</td>
			{% endif %}
			<td bgcolor="{{ color }}">
			</td>
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>
	</div>

</div>
{% endblock %}
